@model Paint_Ecommerce.Models.Order

@{
    ViewBag.Title = "RequestRefund";
}

<h2>RequestRefund</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.DeliveryFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveryFee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Destination)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destination)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeliveryStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveryStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>

    </dl>
</div>




@using (Html.BeginForm("RefundForm","Account",FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Request Refund</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div style="display:none">
                <input type="number" name="id" value="@Model.OrderId" style="display:none" />

            </div>
            @Html.Label("Reason", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" name="Reason" class="form-control" required />
                @Html.ValidationMessage("Reason Required", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="SUBMIT REQUEST" class="btn btn-info" />
            </div>
        </div>
    </div>
}

