@model IEnumerable<Paint_Ecommerce.Models.CodinateVM>

@{
    ViewBag.Title = "PlanRoute";
}

<h2>Plan Route</h2>

<br />

<div class="alert alert-success">
    CUSTOMER HAS BEEN NOTIFIED ABOUT ORDER DELIVERY
</div>
<br />
<a href="/driver/SignDelivery" class="btn btn-info" style="width:100%">SIGN DELIVERY</a>

<div class="rectangle" style="margin-top:-8px;color:white">





    <div class="row">
        <div class="col-md-12">
            <div>
                <form>
                    <div class="form-group">
                        <input id="travelfrom" type="text" value="illovu township, 4126 Amanzimtoti South Africa C4004" name="name" class="form-control" style="width:500px;display:none" disabled="disabled" />
                    </div>
                    <div class="form-group">
                        <input id="travelto" type="text" name="name" value="14 pine street durban 4001" class="form-control" style="width:500px;display:none" disabled="disabled" />
                    </div>
                </form>
                <div>
                    <div id="dvDistance" style="font-size:20px; color:black"></div>
                </div>
            </div>

            <div id="dvMap" style="min-height:500px;width:100%;color:black"></div>
        </div>
    </div>

    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <!--ENSURE YOU CHANGE TO YOUR OWN API KEY HERE !!! -->
    <!-- code for example 1 -->
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyAYgA0WDcNBnR7ewQIWEqUbNmDUdnHCL9M" type="text/javascript"></script>
    <style>
        #dvMap {
            height: 100%;
        }


        /* Optional: Makes the sample page fill the window. */

        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
  
    @*<div id="dvMap"></div>*@

    <script type="text/javascript">
        var markers = [{
            "timestamp":'@Model.ToList().Skip(0).FirstOrDefault().Address.ToString()',

            "latitude": '@Model.ToList().Skip(0).FirstOrDefault().Latitude.ToString()',
            "longitude": '@Model.ToList().Skip(0).FirstOrDefault().Longitude.ToString()',
            "description": 'Alibaug is a coastal town and a municipal council in Raigad District in the Konkan region of Maharashtra, India.'
        },
        {
            "timestamp":'@Model.ToList().Skip(1).FirstOrDefault().Address.ToString()',

            "latitude": '@Model.ToList().Skip(1).FirstOrDefault().Latitude.ToString()',
            "longitude": '@Model.ToList().Skip(1).FirstOrDefault().Longitude.ToString()',

            "description": 'Mumbai formerly Bombay, is the capital city of the Indian state of Maharashtra.'
        },
        {
             "timestamp":'@Model.ToList().Skip(2).FirstOrDefault().Address.ToString()',

            "latitude": '@Model.ToList().Skip(2).FirstOrDefault().Latitude.ToString()',
            "longitude": '@Model.ToList().Skip(2).FirstOrDefault().Longitude.ToString()',
            "description": 'Pune is the seventh largest metropolis in India, the second largest in the state of Maharashtra after Mumbai.'
        }@*,
        {
          "timestamp":'@Model.ToList().Skip(3).FirstOrDefault().Address.ToString()',

            "latitude": '@Model.ToList().Skip(3).FirstOrDefault().Latitude.ToString()',
            "longitude": '@Model.ToList().Skip(3).FirstOrDefault().Longitude.ToString()',
            "description": 'Pune is the seventh largest metropolis in India, the second largest in the state of Maharashtra after Mumbai.'
        },
        {
           "timestamp":'@Model.ToList().Skip(4).FirstOrDefault().Address.ToString()',

            "latitude": '@Model.ToList().Skip(4).FirstOrDefault().Latitude.ToString()',
            "longitude": '@Model.ToList().Skip(4).FirstOrDefault().Longitude.ToString()',
            "description": 'Pune is the seventh largest metropolis in India, the second largest in the state of Maharashtra after Mumbai.'
        }*@
        ];
        window.onload = function () {
            var mapOptions = {
                center: new google.maps.LatLng(markers[0].latitude, markers[0].longitude),
                zoom: 10,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("dvMap"), mapOptions);
            var infoWindow = new google.maps.InfoWindow();
            var lat_lng = new Array();
            var latlngbounds = new google.maps.LatLngBounds();
            for (i = 0; i < markers.length; i++) {
                var data = markers[i]
                var myLatlng = new google.maps.LatLng(data.latitude, data.longitude);
                lat_lng.push(myLatlng);
                var marker = new google.maps.Marker({
                    position: myLatlng,
                    map: map,
                    title: data.timestamp
                });
                // console.log(i)

                latlngbounds.extend(marker.position);
                (function (marker, data) {
                    google.maps.event.addListener(marker, "click", function (e) {
                        infoWindow.setContent(data.timestamp);
                        infoWindow.open(map, marker);
                    });
                })(marker, data);
            }
            map.setCenter(latlngbounds.getCenter());
            map.fitBounds(latlngbounds);

            //***********ROUTING****************//


            //Initialize the Direction Service
            var service = new google.maps.DirectionsService();




            //Loop and Draw Path Route between the Points on MAP
            for (var i = 0; i < lat_lng.length; i++) {
                if ((i + 1) < lat_lng.length) {
                    var src = lat_lng[i];
                    var des = lat_lng[i + 1];
                    // path.push(src);

                    service.route({
                        origin: src,
                        destination: des,
                        travelMode: google.maps.DirectionsTravelMode.WALKING
                    }, function (result, status) {
                        if (status == google.maps.DirectionsStatus.OK) {

                            //Initialize the Path Array
                            var path = new google.maps.MVCArray();
                            //Set the Path Stroke Color
                            var poly = new google.maps.Polyline({
                                map: map,
                                strokeColor: '#4986E7'
                            });
                            poly.setPath(path);
                            for (var i = 0, len = result.routes[0].overview_path.length; i < len; i++) {
                                path.push(result.routes[0].overview_path[i]);
                            }
                        }
                    });
                }
            }
        }
    </script>
    <hr />
</div>

